body{
    background-image: url('/imgs/bg/white-light-abstract.png');
    /*background-color: red;*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .navbar-nav>li {
        padding-right: 10px;
    }

    .fl_margin{
        margin-top: -10px
    }

    .navb_style
    {
        background-image: url('/imgs/bg/picthai-dot.jpeg');
        background-repeat: repeat;
        /*background-color: rgba(0, 0, 0, 0.2);*/
    }
