.bg-tab-set{
    /*background-color: rgba(0, 0, 0, 0.2);*/
    background-image: url('/imgs/bg/dot-bg/dot-bg-gray3.jpg');
    background-repeat: repeat;
    }

 .hover-styles:hover {
    background-color: rgba(0, 0, 0, 0.2);
 }
